/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Poppins";
}

header {
  background: #fff;
}

header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #333;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}

.workout-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.workout-details:nth-child(1) {
  margin-top: 0;
}

.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: #555;
}

.material-symbols-outlined {
  cursor: pointer;
  background: #f1f1f1;
  padding: 6px;
  border-radius: 50%;
  color: #333;

  border: none;
}

.material-symbols-outlined:nth-child(1) {
  margin-right: 10px;
}

.material-symbols-outlined:hover {
  background: #b9b3b3;
}

@media (max-width: 650px) {
  .home {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .workouts {
    order: 2;
  }

  form button {
    width: 100%;
  }
}

/* new workout form */
.create_report h3 {
  margin-bottom: 20px;
}

label,
input {
  display: block;
}

input {
  padding: 10px;
  /* margin-top: 10px; */
  margin-bottom: 20px;
  margin-top: 10px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;

  transition: filter 0.3s;
}

form button:hover {
  filter: brightness(1.2);
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

/* navbar */
nav {
  display: flex;
  align-items: center;
}
nav a {
  margin-left: 10px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Poppins";
  cursor: pointer;
  font-size: 1em;
  margin-left: 10px;

  transition: all 0.3s;
}

nav button:hover {
  background: var(--error);
  color: #fff;
  border: 2px solid var(--error);
}

/* auth forms */
form.signup,
form.login {
  box-shadow: 2px 2px 5px rgb(0 0 0 / 5%);
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
}

form.signup h3,
form.login h3 {
  margin-bottom: 20px;
}

form.signup label,
form.login label {
  margin-bottom: 10px;
}

form.signup button,
form.login button {
  align-self: flex-end;
}

/* edit modal */
.overlay {
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  placeitems: center;
  overflowy: auto;
}

.edit-content {
  width: 300px;
  background-color: #fff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 5px rgb(0 0 0 / 5%);
}

.edit-content form {
  display: flex;
  flex-direction: column;
}

.edit-content .cancel-edit {
  background-color: var(--error);
  color: #fff;
}

.edit-form-buttons {
  display: flex;
  align-self: flex-end;
  gap: 4px;
}
